.preview-with-more { border: 1px dotted #999; padding: 10px; margin-bottom: 10px; position: relative;}
.preview-with-more h3 { margin-top: 0; }
.preview-with-more a.more { position: absolute; top: 9px; right: 9px;}
.aside .preview-with-more h3 { font-size: 16px; }
.show-page.user .aside .preview-with-more h3 { margin-bottom: 3px; }


.show-page .content-header h2 {margin-right: 56px;}

.front-page .users-and-questions { padding-left: 10px; width: 45%;}
.front-page .content-header h2 {font-size:28px; line-height: 28px; float: left; }
.front-page div.welcome-message {float:right; width: 355px; border: none; padding: 6px 0 0 0;}

.index-page.question .with { width: 50%; padding-right: 10px;}


.front-page .content-header {
    overflow: hidden; height: 100%; padding: 10px 20px;
    background:#EEEEEE;
    border: 1px solid #E8E8E8;
    color:#222222;
}

.preview-with-more h3 {font-size:20px; margin-bottom: 20px;}


textarea.recipe-body { margin-top: 20px; width: 100%; height: 500px;}
textarea.question-description, textarea.comment-body { width: 100%;}
input.boolean { vertical-align: -15%;}

code {
    background-color:#F8F8FF;
    border:1px solid #DEDEDE;
    color:#444444;
    font-size:90%;
    padding:0 0.2em;
}

form.question label, form.recipe label {display:block; font-size: 16px; font-weight:bold;}
input.question-subject, input.recipe-name {width:100%;font-size: 20px; margin: 5px 0;}

.field-list .recipe-view {padding-right:6px;}

pre {
    background-color:#F8F8FF;
    border:1px solid #DEDEDE;
    color:#444444;
    margin: 10px 0 10px 10px;
    padding: 5px;
    font-size: 15px;
}

pre code { border: none;}

.answer.card .answer-body {margin: 10px 0;}

.show-page.user .aside {width: 300px;}
.show-page.user .content-header, .show-page.recipe .content-header, .show-page.question .content-header
  {height:100px;}

.view.question-subject {line-height: 130%;}

.card.answer .question { margin-bottom: 10px;}
.card.answer .recipe { font-style: italic;}

a.gravatar {display: block; border: 1px solid #999; background: #eee; padding: 2px; float:left; margin: 0 10px 10px 0;}
.content-header a.gravatar {margin: 10px 10px 10px 0;}

.view.recipe-body { border: 1px solid #999; padding: 10px; background: #fcfcfc;}

.view p {margin 5px 0;}


/* == Code Highlighting == */

pre {
	background: #F9F7F3;
	border: 1px solid #E9E3D2; border-width: 1px 0;
	font-size: 14px; line-height: 16px;
	margin: 10px 0 10px; padding: 10px 0 10px 10px;
    overflow: auto;
}

pre code {
	color: #2D2D2D;
	font-weight: normal;
}

/** RUBY / JAVASCRIPT **/
code span.comment {
	color: #6D6D6D;
}

code span.string {
	color: #0F6500;
}

code span.brackets {
	
}

code span.keywords {
	color: #B43473; font-weight: bold;
}

code span.erb {
	background: #333;
}

code span.symbol {
	color: #DE352F; font-weight: bold;
}

/** DRYML **/
code span.tag {
	color: #005899; font-weight: bold;
}

code span.parameter {
	color: #52115D; font-weight: bold;
}

code span.attribute {
	color: #005899
}

code span.doctype {
	color: #D7FF80;
}
pre.dryml code span.string {
	color: #0F6500;
}
code span.paramdec {
	color: #990300; font-weight: bold;
}

.command-options td, .command-options th {padding: 3px 20px 3px 0;}
