.preview-with-more { border: 1px dotted #999; padding: 10px; margin-bottom: 10px; position: relative;}
.preview-with-more h3 { margin-top: 0; }
.preview-with-more a.more { position: absolute; top: 9px; right: 9px;}


.front-page .users-and-questions { padding-left: 10px; width: 45%;}

textarea.recipe-body { margin-top: 20px; width: 100%; height: 500px;}
textarea.question-description, textarea.comment-body { width: 100%;}
input.boolean { vertical-align: -15%;}

code {
    background-color:#F8F8FF;
    border:1px solid #DEDEDE;
    color:#444444;
    font-size:90%;
    padding:0 0.2em;
}